<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluggdd.burnandearn">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.pluggdd.burnandearn.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pluggdd.burnandearn.permission.C2D_MESSAGE" />

    <application
        android:name=".utils.BurnAndEarnApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider994703893899145"
            android:exported="true" />

        <activity
            android:name=".activity.InitialSetUpActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BurnAndEarnMainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.OfferDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".activity.BurnAndEarnMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomMaterialThemeBase" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d0ba1e1db49d7532d308f492b8d08f3dd051fb8f" />

        <activity
            android:name=".activity.OfferAndRewardsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_offer_and_rewards"
            android:parentActivityName=".activity.BurnAndEarnMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluggdd.burnandearn.activity.BurnAndEarnMainActivity" />
        </activity>
        <activity
            android:name=".activity.MyOffersActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_my_offers"
            android:parentActivityName=".activity.BurnAndEarnMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluggdd.burnandearn.activity.BurnAndEarnMainActivity" />
        </activity>
        <activity
            android:name=".activity.ShareActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/share"
            android:parentActivityName=".activity.BurnAndEarnMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluggdd.burnandearn.activity.BurnAndEarnMainActivity" />
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/action_about_us"
            android:parentActivityName=".activity.BurnAndEarnMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluggdd.burnandearn.activity.BurnAndEarnMainActivity" />
        </activity>
        <activity
            android:name=".activity.ContactUsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/action_contact_us"
            android:parentActivityName=".activity.BurnAndEarnMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluggdd.burnandearn.activity.BurnAndEarnMainActivity" />
        </activity>
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/action_profile"
            android:parentActivityName=".activity.BurnAndEarnMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluggdd.burnandearn.activity.BurnAndEarnMainActivity" />
        </activity>

        <activity android:name=".activity.FitBitActivity"
            android:label="@string/action_fitbit"
            android:parentActivityName=".activity.BurnAndEarnMainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="burnandearn" />
            </intent-filter>

        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.pluggdd.burnandearn" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receiver.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RegistrationIntentService"
            android:exported="false" />


    </application>

</manifest>